<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>MovieApp</title>
</head>
<body>
  <header>
    <h1>
      Movie Tracker App
    </h1>
  </header>
  <div id="inputDiv">
    <form action="/addMovie" method="POST">
      <div>
        <h6>Search for movies</h6>
        <input placeholder="Batman" name="search" id="search" required>
      </div>
      <button id="submit" type="submit">Search</button>
    </form>
  </div>
  <div class="collection">
    <h2>Your collection</h2>
    <div class="ulMovies">

      <ul>
        <% for(const movie of movies) { %>
          <li class="movieLi">
            <img id="movieImg" src="">
            <span class="spanMovie">
              <%= movie.name %>
            </span>
          </li>
          <% } %>
        </ul>
      </div>
      </div>
      
      
      <script src="/scripts/index.js"></script>
</body>
</html>